:root{
  --color-primary-moderate-cyan: hsl(176, 50%, 47%);
  --color-primary-dark-cyan: hsl(176, 72%, 28%);

  --color-neutral-black:  hsl(0,0,0);
  --color-neutral-dark-grey: hsl(0,0, 48%);

  --flow-space: min(4.8rem, 8.5vw);
  --space-between-cards: 2.4rem;

  

}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body{
  font-size: 1.4rem;
  @media screen and (min-width: 500px) {
    font-size: 1.5rem;
  }
  @media screen and (min-width: 700px) {
    font-size: 1.6rem;
  }

 
  font-family: 'Commissioner', sans-serif;
  color: #7A7A7A;
  font-weight: 400;
  line-height: 187%;
}




